.table tbody tr th{
    font-size: 12px;
    background-color: #EEEEEE;
}

.submit-button{
    margin-top: -60px;
}

.detail-image{
    width: 100%;
    max-height: 450px;
    height: auto;
}

.detail-image-card{
    max-width: 800px;
    margin: 35px auto 0 auto ;
}

.detail-title{
    margin-top: 20px;
    font-weight: bold;
}
