.top-img1{
    background-image: url(IMG_5623.JPG);
    background-size: 100%;
    height: 700px;
    background-repeat: no-repeat;

}

.top-img1 h1{
    padding-top: 10vw;
    font-size: 70px;
    font-weight: bold;
    text-align: left;
    color: yellow;
}

.sign_up_button{
    margin: 1px 0 0 5px;
}