*{
    margin: 0;
    padding: 0;
    color: black;
}

.edit-icon{
    font-size: 22px;
}

.trash-icon{
    font-size: 22px;
    padding: 0 3px 0 0;
}

.edit-buttons{
   text-align: right;
   padding-top: 40px;
}

.copy{
    padding: 20px 0px;
}

