
.navbar-brand{
    font-weight:bold;
    font-size: 30px;
}
.navbar{
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, .0975);
}

.btn-outline-warning{
    margin-left:5px;
}

.sign{
    font-weight:bold;
    margin-right: 5px;
}

.fa-users{
    font-size: 30px;
}