<div class="container">
    <h2>個人様のページのトップです</h2>
    
    <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">見出し１</th>
                  <th scope="col">見出し２</th>
                  <th scope="col">見出し３</th>
                </tr>
              </thead>
              <tbody>
            　<% @offers.each do |offer| %>
                <tr>
                  <td><%= offer.title%></td>
                  <td><%= offer.date%></td>
                  <td><%= offer.start_time%>〜<%= offer.end_time%></td>
                </tr>
            　<%end%>        
              </tbody>
            </table>
</div>