<body>
    <header>
        <div class="top-img mx-auto">
            <h1>働き手と雇用主を結ぶ<br>マッチングサイト</h1>
                <div class="top-text">
                    <p>即WORKは、「この時間だけ働きたい」働き手と<br>「この時間だけ働いてほしい」雇用主を結ぶ<br>マッチングアプリを提供しています。</p>
                    <p>飲食のホールやキッチンスタッフからオフィスワーク、<br>イベントスタッフ、モニター調査など<br>様々な職種でご利用いただいています。</p>
                </div>
        </div>
    </header>
</body>