<body>
    <header>
        <div class="top-img1">
            <div class="container text">
                <h1>働き手と雇用主を結ぶ<br>マッチング型<br>スキマバイト</h1>
                <div class="top-text">
                    <div class="info-buttons">
                        <a class="btn btn-primary" href ="/users/sign_in">ログインはこちら</a>
                        <a class="btn btn-warning sign_up_button" href ="/users/sign_up">新規登録はこちら</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>