<body>
    <header>
        <div class="top-img1">
            <div class="container text">
                <h1>働き手と雇用主を結ぶ<br>マッチングサイト</h1>
                <div class="top-text">
                    <p>即WORKは、「この時間だけ働きたい」働き手と<br>「この時間だけ働いてほしい」雇用主を結ぶ<br>マッチングアプリを提供しています。</p>
                    <p>飲食のホールやキッチンスタッフからオフィスワーク、<br>イベントスタッフ、モニター調査など<br>様々な職種でご利用いただいています。</p>
                    <div class="info-buttons">
                        <a class="btn btn-primary users" href ="/users">求人を探している方は<br>こちら</a>
                        <a class="btn btn-warning companies" href ="/companies">人手を探している方は<br>こちら</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>