*{
    margin: 0;
    padding: 0;
    color: black;
}

.top-img{
    background-image: url(IMG_4925.JPG);
    margin-top: -200px;
    height: 1100px;
}

.top-img {
    text-align: right;
    padding: 500px 50px 0px;
}

.top-img h1{
    font-size: 70px;
    font-weight: bold;
}

.top-text {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    padding: 50px 0px 0px 800px;
}